.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.productImageBlock {
    width: 500px;
    height: 500px;
}
.productImage {
    width: 100%;
    height: 100%;
}

.productInfoBlock {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 50px;
}
.productTitle {
    font-size: 44px;
    font-weight: 500;
}

.productDescription {
    font-size: 26px;
}
.productActions {
    display: flex;
    gap: 50px;
}
