.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.productImageBlock {
    width: 500px;
    height: 500px;
}
.productImage {
    width: 100%;
    height: 100%;
}

.productInfoBlock {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 50px;
}
.productTitle {
    font-size: 44px;
    font-weight: 500;
}

.productDescription {
    font-size: 26px;
}
.productActions {
    display: flex;
    gap: 50px;
}

.productActions button {
    width: 250px;
    height: 70px;

    border-radius: 20px;
    border: none;

    background-color: #FAF0E6;

    font-size: 28px;
}

.cartButton:hover {
    background-color: #FFD9B3;
}
.cartButton:active {
    background-color: #FFFFFF;
    border: 1px solid #FFD9B3;
}

.buyButton:hover {
    background-color: #FFBF80;
}
.buyButton:active {
    background-color: #FFFFFF;
    border: 1px solid #FFBF80;
}